services:
  client:
    build: ./client
    ports:
     - "3000:3000"
    networks:
      - notion
  server:
    build: ./server
    ports:
      - "8000:8000"
    networks:
      - notion

networks:
  notion: