

.select {
    cursor: pointer;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 100%
}

.selectOptions {
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    z-index: 2;
}

.selectOption {
    cursor: pointer;
}